*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    background: #e7ecf1;
    padding-top: 35px;
}
.cv{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cv .left-content{
    max-width: 400px;
    width: 100%;
	background-color: #9191a8;
    padding: 15px;
	border-radius: 7px;
}
.cv .right-content{
    max-width: 600px;
    width: 100%;
	background-color: #e7ecf1;
	border-radius: 20px;
}
.me-image-cover img{
    width: 200px;
    height: 275px;
    border-radius: 10px;
    display: block;
    margin-bottom: 15px;
    margin: auto;
}
.me-image-cover{

    margin-bottom: 15px;
}

.name{
    color: #e2dee3;
    margin-bottom: 25px;
    text-align: center;
}
.left-content p{
    font-size: 20px;
	text-align: center;
    margin-bottom: 55px;
	color: #e2dee3;
}
.left-content a{
    font-size: 20px;
	color: #5c5c71;
	text-align: left;
}
.left-content ul li i{
	font-size: 18px;
	color: #e2dee3;
}
.left-content{
	text-align: center;
}
.left-content ul li span{
	font-size: 18px;
	color: #e2dee3;
	text-align: center;
    margin-bottom: 20px;
}
.left-content ul {
	line-height: 30px;
}
.education-content,.experience-content, .skills-content{
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
	line-height: 30px;
	color: #e2dee3;
	font-size: 18px;
    background-color: #9191a8;
	border-radius: 7px;
    padding: 12px;

}
.skills-content{
    margin-bottom: 0;
}
.educ_icon, .exp_icon{
	width: 185px;
	margin: auto;
	display: flex;
	justify-content: space-around;
    margin-bottom: 20px;
    
}
.skills_icon{
    width: 135px;
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
}

.educ_icon i, .exp_icon i, .skills_icon i{
	font-size: 23px;
	color: #e2dee3;    
	margin-top: 6px;
	border-radius: 7px;
}
@media screen  and (max-width:1020px){
    .cv .left-content{
        background-color: #9191a8;
        max-width: 600px;
        width: 100%;
        text-align: center;
		padding: 10px;
    }
    .cv .left-content p{
        text-align: center;
    }
}